# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3


# VSCode / IDE
.vscode/
.idea/

# Environment variables
.env